<div class="container">
  <ng-template #errors>
    <div class="text-danger">
      {{ errorMessage }}
    </div>
  </ng-template>
  <div class="card" *ngIf="products; else errors">
    <div class="card-header">
      <h3>Products List</h3>
    </div>

    <div class="card-body">
      {{ searchFormGroup.value | json }}
      <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
        <div class="input-group">
          <label for="name" class="input-group-text">Keyword</label>
          <input
            type="text"
            name="keyword"
            id="name"
            class="form-controle"
            formControlName="keyword"
          />
          <button class="btn btn-info" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.description }}</td>
            <td><i *ngIf="p.promotion" class="bi bi-heart-fill"></i></td>
            <td>
              <button
                (click)="handlePromotionClick(p)"
                [ngClass]="p.promotion == true ? 'btn-danger' : 'btn-success'"
                class="btn m-1"
              >
                <span *ngIf="p.promotion == true"> promotion Off </span>
                <span *ngIf="p.promotion == false"> promotion On </span>
              </button>
              <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
